* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
p,
a,
strong,
ul,
li,
header,
footer,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

ol,
ul {
  list-style: none;
}
